.container {
    background-color: var(--color-primary);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    padding: 1.5rem;
    border-radius: 0.25rem;
    background: #FFFFFF;
    height: 70%;
    width: 90%;
    max-width: 700px;
    text-align: center;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.description {
    font-size: 1rem;
    font-weight: normal;
    color: #8C95A4;
    margin-bottom: 1.5rem;
}

.tableWrapper {
    width: 100%;
}

.table {
    width: 100%;
    border-radius: 0.25rem;
}


.dropdownContainer {
    display: flex;
    justify-content: center;
}

:global(.custom-upload-button) {
    background-color: #677FFA !important;
    border-color: #677FFA !important;
    color: #fff !important;
}

:global(.custom-upload-button:hover) {
    background-color: #5567d9 !important;
    border-color: #5567d9 !important;
}
