.container {
    background-color: var(--color-primary);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.card {
    width: auto;
    min-height: 100vh;
    background: #FFFFFF;
    padding: 1.5rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
    color: #000000;
    text-align: center;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
}

.dropdownContainer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.description {
    font-size: 1rem;
    font-weight: normal;
    color: #8C95A4;
    margin-bottom: 1.5rem;
}

.button {
    background-color: var(--color-primary);
    width: 80%;
    margin-top: 1rem;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-secondary);
}

.tableContainer {
    overflow-x: auto;
    margin-top: 2rem;
}
