.baseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--color-primary);
    min-height: 100vh;
}

@media (max-width: 768px) {
    .baseContainer {
        flex-direction: column;
    }
}
