.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
    background-image: linear-gradient(to bottom, #fff, #e0e0e0);
}

.content {
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    max-width: 600px;
    width: 100%;
}

.title {
    font-size: 85px;
    font-weight: bold;
    color: #555;
}

.message {
    font-size: 1.4rem;
    color: #555;
    margin-top: 5px;
}
